
header
	.logo
		- if(_config.company.logo)
			img(src=_config.company.logo, alt=_config.company.name)
		- else
			span=_config.company.name
	.company_row1!=_config.company.row1
	.company_row2!=_config.company.row2
	br
section.print_data.clearfix
	table.print_data_col1
		tr
			td.nowrap.muted=__("Invoice number")
			td.nowrap.muted=result.invoice_number+"/"+d.getFullYear()
		tr
			td.nowrap.muted="Emessa il :"
			- d = result.invoice_date;
			td=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()
		tr
			td(colspan="2").nowrap.muted="All'Attenzione: "
			td.nowrap.muted=result.to_client.address.street+" "+result.to_client.address.city+" "+result.to_client.address.country
		tr
			td(colspan="2").nowrap.muted= __("VAT number")
			td(colspan="2")=result.to_client.vat_number
br
section.print_items
	table.table
		thead
			tr
				th.muted=__("Quantity")
				th.muted=__("Description")
				th.muted=__("Price")
				th.muted=__("Amount")
		tbody
			- var a = 0 
			- for(a=0;a<result.items.length;a++) 
				tr
					td.quantity=result.items[a].quantity,id="quantity_"+a
					- if (result.items[a].description)
						td.description(id="description_"+a)!=result.items[a].description.replace(/\n/g,'<br />')
					- else
						td.description(id="description_"+a)
					td.price
						div=_config.currency[0]+" "+result.items[a].price
					td.price
						div=_config.currency[0]+" "+result.items[a].amount
		tfoot
			tr
				td(colspan="3")
					.pull-right.muted=__("Subtotal")
				td.price
						div=_config.currency[0]+" "+result.subtotal
			tr
				td(colspan="3")
					.pull-right.muted="Cassa Previdenziale"+" "+result.cassa_previdenziale[0]+" %"
				td.price
						div=_config.currency[0]+" "+result.cassa_previdenziale[1]
			tr
				td(colspan="3")
					.pull-right.muted="Rivalsa INPS"+" "+result.rivalsa[0]+" %"
				td.price
						div=_config.currency[0]+" "+result.rivalsa[1]
			tr
				td(colspan="3")
					.pull-right.muted="Marca Da Bollo"
				td.price
						div=_config.currency[0]+" "+result.marca_bollo
			tr
				td(colspan="3")
					.pull-right.muted=__("TOTAL")
				td.price
						div=_config.currency[0]+" "+result.total
footer
	b=__("Bank")
	br
	- for (a=0;a<_config.banks.length;a++)
		- if (_config.banks[a]==result.bank)
			span=_config.banks[a]
